nav a {
    display: inline-block;
    list-style-type: none;
    margin-left: auto;
    text-decoration: none;
    color:black;
    padding: 0px 20px 0px 20px;

}

nav, section, footer {
    /* max-width: 1200px; */
    padding: 20px 5% 20px 5%;
    background-color: aliceblue;
    margin: 0px -10px 0px -10px;
    font-family: "Verdana", sans-serif;
    font-size: 20px;
}

img  {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

nav ul {
        display: inline-block;
        list-style-type: none;
        margin-left: auto;
}

body {
        background-color: rgb(143, 227, 199);
        font-family: "Verdana", sans-serif;
    }

header h1 {
    background:#8BADF0  ;
    color: rgb(205, 222, 226);
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    margin:5px;
    padding-top:3px;
    font-size: 55px;
}

header {
    background-color: #8BADF0;
    margin: -20px -10px 0px -10px;
    height: 200px;
}

header img{
    margin-right: 20px;
    margin-top: -100px;
}

main{
    margin-left: 5%;
    margin-right: 5%;
}

.plot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: flex-start;
}

.plot div {
    margin-right: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: auto;
    width: 70%;
}
.plot img {
    display: flex;
    flex-wrap: nowrap;
    /* width: 600px; */
    margin: 20px;
    align-content: center;

}